/benchmark_files/old_data/cp.npy
/benchmark_files/old_data/cp_reynolds.npy
/benchmark_files/old_data/cp_reynolds_aoa.npy
/benchmark_files/old_data/mpt_cp_dataset.npy
/benchmark_files/old_data/mpt_cp_dataset_reynolds.npy
/benchmark_files/old_data/mpt_cp_dataset_reynolds_aoa.npy
