/benchmark_files/old_data/cp.npy
/benchmark_files/old_data/cp_reynolds.npy
/benchmark_files/old_data/cp_reynolds_aoa.npy
/benchmark_files/old_data/mpt_cp_dataset.npy
/benchmark_files/old_data/mpt_cp_dataset_reynolds.npy
/benchmark_files/old_data/mpt_cp_dataset_reynolds_aoa.npy
/:00.bl
/benchmark_files/bc_problem_data/__pycache__/generate_bc.cpython-311.pyc
__pycache__
results
results
/airfoils_results/random_100_5_3_rf_entropy.npy
/airfoils_results/random_100_5_3_xg34b1.npy
/airfoils_results/random_100_5_3_xgb.npy
/airfoils_results/random_100_5_3_xgb_ensemble.npy
/airfoils_results/random_200_5_1.npy
/airfoils_results/random_200_5_30.npy
/airfoils_results/unc_100_5_3_rf_entropy.npy
/airfoils_results/unc_100_5_3_xg34b1.npy
/airfoils_results/unc_100_5_3_xgb.npy
/airfoils_results/unc_100_5_3_xgb_ensemble.npy
/airfoils_results/unc_200_5_1.npy
/airfoils_results/unc_200_5_30.npy
/airfoils_results/unc_hc_200_5_30.npy
/airfoils_results/unc_hc_100_5_3_rf_entropy.npy
/airfoils_results/unc_hc_100_5_3_xg34b1.npy
/airfoils_results/unc_hc_100_5_3_xgb.npy
/airfoils_results/unc_hc_100_5_3_xgb_ensemble.npy
/airfoils_results/unc_hc_200_5_1.npy
/airfoils_results/unc_lhs_pso_200_5_1.npy
/airfoils_results/unc_lhs_pso_200_5_30.npy
/friedman_results/random_100_5_3_DT_ensemble.npy
/friedman_results/unc_100_5_3_DT_ensemble.npy
/friedman_results/unc_100_5_3_rf_entropy.npy
/inconel_results/unc_hc_200_5_10.npy
/scalar_diffusion_results/30unc_200_5_10.npy
/scalar_diffusion_results/30unc_hc_200_5_10.npy
/scalar_diffusion_results/random_100_5_3_xgb.npy
/scalar_diffusion_results/random_200_5_10.npy
/scalar_diffusion_results/random_350_10_3_xgb_ensemble.npy
/scalar_diffusion_results/unc_100_5_3_xgb.npy
/scalar_diffusion_results/unc_200_5_10.npy
/scalar_diffusion_results/unc_350_10_3_xgb_ensemble.npy
/scalar_diffusion_results/unc_hc_100_5_3_xgb.npy
/scalar_diffusion_results/unc_hc_200_5_10.npy
/scalar_diffusion_results/unc_hc_350_10_3_xgb_ensemble.npy
/friedman_results/random_100_5_3_rf_entropy.npy
/friedman_results/random_100_5_3_xgb_ensemble.npy
/friedman_results/random_200_5_30.npy
/friedman_results/unc_100_5_3_xgb_ensemble.npy
/friedman_results/unc_200_5_30.npy
/friedman_results/unc_hc_100_5_3_xgb_ensemble.npy
/friedman_results/unc_hc_200_5_30.npy
/inconel_results/random_200_5_10.npy
/inconel_results/unc_200_5_10.npy
.npy
.npy
/scalar_diffusion_results/modelHC_entropy_100_10_1_mlp_ensemble_50.npy
/scalar_diffusion_results/modelHC_entropy_100_10_1_rf.npy
/scalar_diffusion_results/modelHC_quantile_100_5_3_rf.npy
/scalar_diffusion_results/modelHC_quantile_100_5_3_xgb_ensemble.npy
/scalar_diffusion_results/modelHC_quantile_2000_50_1_xgb_ensemble.npy
/scalar_diffusion_results/model_entropy_200_10_1_mlp_ensemble_50.npy
/scalar_diffusion_results/model_entropy_200_10_1_rf.npy
/scalar_diffusion_results/model_entropy_500_40_3_xgb_ensemble.npy
/scalar_diffusion_results/random_100_10_1_rf.npy
/scalar_diffusion_results/random_100_5_3_rf.npy
/scalar_diffusion_results/random_100_5_3_xgb_ensemble.npy
/scalar_diffusion_results/random_2000_50_1_xgb_ensemble.npy
/scalar_diffusion_results/random_200_10_1_rf.npy
/scalar_diffusion_results/random_500_40_3_xgb_ensemble.npy
/airfoils_results/model_entropy_200_10_10_mlp_ensemble_50.npy
/airfoils_results/model_entropy_200_10_1_mlp_ensemble_20.npy
/airfoils_results/model_entropy_200_10_1_mlp_ensemble_50.npy
/airfoils_results/model_entropy_500_50_1_xgb_ensemble.npy
/airfoils_results/random_200_10_10_mlp_ensemble_50.npy
/airfoils_results/random_200_10_1_mlp_ensemble_20.npy
/airfoils_results/random_200_10_1_mlp_ensemble_50.npy
/airfoils_results/random_500_50_1_xgb_ensemble.npy
/friedman_results/modelHC_entropy_1000_50_1_et_ensemble_20.npy
/friedman_results/modelHC_entropy_1000_50_1_xgb_ensemble.npy
/friedman_results/modelLHS_quantile_1000_50_1_et_ensemble_20.npy
/friedman_results/modelLHS_quantile_1000_50_1_mlp_ensemble_10.npy
/friedman_results/modelLHS_quantile_1000_50_1_xgb_ensemble_3.npy
/friedman_results/model_entropy_1000_50_1_et_ensemble_20.npy
/friedman_results/model_entropy_1000_50_1_mlp_ensemble_20.npy
/friedman_results/model_entropy_500_50_1_xgb_ensemble.npy
/friedman_results/random_1000_50_1_et_ensemble_20.npy
/friedman_results/random_1000_50_1_mlp_ensemble_10.npy
/friedman_results/random_1000_50_1_mlp_ensemble_20.npy
/friedman_results/random_1000_50_1_xgb_ensemble.npy
/friedman_results/random_1000_50_1_xgb_ensemble_3.npy
/friedman_results/random_500_50_1_xgb_ensemble.npy
/scalar_diffusion_results/modelHC_entropy_200_10_3_mlp_ensemble_50.npy
/scalar_diffusion_results/modelHC_quantile_1200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/modelHC_quantile_200_10_3_mlp_ensemble_50.npy
/scalar_diffusion_results/modelHC_quantile_200_10_4_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/modelLHS_quantile_200_10_1_mlp_ensemble_50.npy
/scalar_diffusion_results/model_quantile_1200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50_etst2.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50pejjjn.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50pen.npy
/scalar_diffusion_results/model_quantile_200_10_30_mlp_ensemble_50pejjjn.npy
/scalar_diffusion_results/model_quantile_600_100_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_1200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_etst2.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50pejjjn.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50pen.npy
/scalar_diffusion_results/random_200_10_30_mlp_ensemble_50pejjjn.npy
/scalar_diffusion_results/random_200_10_3_mlp_ensemble_50.npy
/scalar_diffusion_results/random_200_10_4_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_600_100_1_mlp_ensemble_50_etst23.npy
results
results
/scalar_diffusion_results/ensemble_200_10_1_mlp_ensemble_20_.npy
/scalar_diffusion_results/ensemble_200_10_1_mlp_ensemble_20_u66ugg.npy
/scalar_diffusion_results/ensemble_200_10_1_mlp_ensemble_20_uu.npy
/scalar_diffusion_results/modelHC_entropy_200_10_1_mlp_ensemble_20_u66ugg.npy
/scalar_diffusion_results/modelHC_entropy_200_10_1_mlp_ensemble_50_e1TESTIN66G_clust90er.npy
/scalar_diffusion_results/modelHC_entropy_200_10_1_rf2.npy
/scalar_diffusion_results/modelHC_entropy_200_10_1_xgb_ensemble_3.npy
/scalar_diffusion_results/modelHC_entropy_200_10_3_mlp_ensemble_50_e1TESTIN66G_clust33390er.npy
/scalar_diffusion_results/modelHC_entropy_600_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_e100tsdddt23.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_e100tst23.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_e1TESTIN66G_clust90er.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_e1TESTIN66G_cluster.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_e1TESTING.npy
/scalar_diffusion_results/modelHC_quantile_200_10_1_mlp_ensemble_50_e1TESTING_.npy
/scalar_diffusion_results/modelHC_quantile_200_10_4_mlp_ensemble_50_e1TESTIN66G_clust90er.npy
/scalar_diffusion_results/modelLHS_quantile_200_10_1_mlp_ensemble_50_e1TESTIN66G_.npy
/scalar_diffusion_results/modelLHS_quantile_200_10_1_mlp_ensemble_50_e1TESTING_.npy
/scalar_diffusion_results/modelLHS_quantile_200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/model_quantile_0_1_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/model_quantile_100_1_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50_e100tst23.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50_e1TESTING_.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50_e1tst23.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/model_quantile_600_100_5_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_0_1_1_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_20_.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_20_u66ugg.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_20_uu.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e100tsdddt23.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e100tst23.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e1TESTIN66G_.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e1TESTIN66G_clust90er.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e1TESTIN66G_cluster.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e1TESTING.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e1TESTING_.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble_50_e1tst23.npy
/scalar_diffusion_results/random_200_10_1_rf2.npy
/scalar_diffusion_results/random_200_10_1_xgb_ensemble_3.npy
/scalar_diffusion_results/random_200_10_4_mlp_ensemble_50_e1TESTIN66G_clust90er.npy
/scalar_diffusion_results/random_600_100_5_mlp_ensemble_50_etst23.npy
/scalar_diffusion_results/random_600_10_1_mlp_ensemble_50_etst23.npy
_results
/airfoils_results/model_entropy_200_10_10_mlp_ensemble.npy
/airfoils_results/model_entropy_200_10_1_mlp_ensemble.npy
/airfoils_results/random_200_10_10_mlp_ensemble.npy
/airfoils_results/random_200_10_1_mlp_ensemble.npy
/friedman_results/model_entropy_200_10_10_mlp_ensemble.npy
/friedman_results/model_entropy_200_10_1_mlp_ensemble.npy
/friedman_results/random_200_10_10_mlp_ensemble.npy
/friedman_results/random_200_10_1_mlp_ensemble.npy
/scalar_diffusion_results/model_entropy_200_10_10_mlp_ensemble.npy
/scalar_diffusion_results/model_entropy_200_10_1_mlp_ensemble.npy
/scalar_diffusion_results/random_200_10_1_mlp_ensemble.npy
/airfoils_results/ensemble_100_10_5_mlp_ensemble.npy
/airfoils_results/random_100_10_5_mlp_ensemble.npy
/friedman_results/ensemble_100_10_5_mlp_ensemble.npy
/friedman_results/model_entropy_100_10_5_mlp_ensemble.npy
/friedman_results/model_quantile_100_10_5_mlp_ensemble.npy
/friedman_results/random_100_10_5_mlp_ensemble.npy
/scalar_diffusion_results/ensemble_100_10_10_mlp_ensemble.npy
/scalar_diffusion_results/ensemble_100_10_30_mlp_ensemble.npy
/scalar_diffusion_results/ensemble_200_10_3_mlp_ensemble.npy
/scalar_diffusion_results/modelHC_entropy_200_10_5_mlp_ensemble.npy
/scalar_diffusion_results/modelLHS_entropy_200_10_1_mlp_ensemble.npy
/scalar_diffusion_results/modelLHS_entropy_200_10_3_mlp_ensemble.npy
/scalar_diffusion_results/model_quantile_200_10_1_mlp_ensemble.npy
/scalar_diffusion_results/model_quantile_200_10_5_mlp_ensemble.npy
/scalar_diffusion_results/random_100_10_10_mlp_ensemble.npy
/scalar_diffusion_results/random_100_10_30_mlp_ensemble.npy
/scalar_diffusion_results/random_200_10_10_mlp_ensemble.npy
/scalar_diffusion_results/random_200_10_3_mlp_ensemble.npy
/scalar_diffusion_results/random_200_10_5_mlp_ensemble.npy
.npy
.png
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_mape.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_max_rmse.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_nmax_ae.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_r2.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_range_nrmse.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_rmse.pdf
/friedman_results/deep_ensembles_entropy/mean_rmse_30_convergence_rate_std_nrmse.pdf
/friedman_results/model_entropy_200_10_30_mlp_ensemble.npy
/friedman_results/random_200_10_30_mlp_ensemble.npy
/airfoils_results/ensemble_200_10_30_mlp_ensemble.npy
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_mape.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_max_rmse.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_nmax_ae.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_r2.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_range_nrmse.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_rmse.pdf
/airfoils_results/entropy_ensemble/mean_rmse_30_convergence_rate_std_nrmse.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_mape.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_max_rmse.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_nmax_ae.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_r2.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_range_nrmse.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_rmse.pdf
/airfoils_results/entropy_model/mean_rmse_30_convergence_rate_std_nrmse.pdf
/airfoils_results/model_entropy_200_10_30_mlp_ensemble.npy
/airfoils_results/random_200_10_30_mlp_ensemble.npy
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_mape.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_max_rmse.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_nmax_ae.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_r2.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_range_nrmse.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_rmse.pdf
/scalar_diffusion_results/entropy_ensemble/mean_rmse_30_convergence_rate_std_nrmse.pdf
/airfoils_results/mean_rmse_30_convergence_rate_mape.pdf
/airfoils_results/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/airfoils_results/mean_rmse_30_convergence_rate_max_rmse.pdf
/airfoils_results/mean_rmse_30_convergence_rate_nmax_ae.pdf
/airfoils_results/mean_rmse_30_convergence_rate_r2.pdf
/airfoils_results/mean_rmse_30_convergence_rate_range_nrmse.pdf
/airfoils_results/mean_rmse_30_convergence_rate_rmse.pdf
/airfoils_results/mean_rmse_30_convergence_rate_std_nrmse.pdf
/friedman_results/ensemble_200_10_30_mlp_ensemble.npy
/friedman_results/mean_rmse_30_convergence_rate_mape.pdf
/friedman_results/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/friedman_results/mean_rmse_30_convergence_rate_max_rmse.pdf
/friedman_results/mean_rmse_30_convergence_rate_nmax_ae.pdf
/friedman_results/mean_rmse_30_convergence_rate_r2.pdf
/friedman_results/mean_rmse_30_convergence_rate_range_nrmse.pdf
/friedman_results/mean_rmse_30_convergence_rate_rmse.pdf
/friedman_results/mean_rmse_30_convergence_rate_std_nrmse.pdf
/inconel_results/model_entropy_200_10_30_rf.npy
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_mape.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_max_range_nrmse.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_max_rmse.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_nmax_ae.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_r2.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_range_nrmse.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_rmse.pdf
/inconel_results/model_entropy_rf/mean_rmse_30_convergence_rate_std_nrmse.pdf
/inconel_results/random_200_10_30_rf.npy
/airfoils_results/mean_rmse_1_convergence_rate_mape.pdf
/airfoils_results/mean_rmse_1_convergence_rate_max_rmse.pdf
/airfoils_results/mean_rmse_1_convergence_rate_nmax_ae.pdf
/airfoils_results/mean_rmse_1_convergence_rate_r2.pdf
/airfoils_results/mean_rmse_1_convergence_rate_range_nrmse.pdf
/airfoils_results/mean_rmse_1_convergence_rate_rmse.pdf
/airfoils_results/mean_rmse_1_convergence_rate_std_nrmse.pdf
/airfoils_results/modelLHS_quantile_300_10_1_mlp_ensemble.npy
/airfoils_results/model_entropy_100_10_1_mlp_ensemble.npy
/airfoils_results/model_entropy_300_10_1_mlp_ensemble.npy
/airfoils_results/model_entropy_300_20_15_mlp_ensemble.npy
/airfoils_results/model_entropy_300_20_1_rf.npy
/airfoils_results/model_entropy_300_20_1_xgb.npy
/airfoils_results/random_100_10_1_mlp_ensemble.npy
/airfoils_results/random_300_10_1_mlp_ensemble.npy
/airfoils_results/random_300_20_15_mlp_ensemble.npy
/airfoils_results/random_300_20_1_rf.npy
/airfoils_results/random_300_20_1_xgb.npy
/scalar_diffusion_results/ensemble_100_10_1_mlp_ensemble.npy
/scalar_diffusion_results/ensemble_240_20_1_mlp_ensemble.npy
/scalar_diffusion_results/mean_rmse_1_convergence_rate_mape.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_max_range_nrmse.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_max_rmse.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_nmax_ae.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_r2.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_range_nrmse.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_rmse.pdf
/scalar_diffusion_results/mean_rmse_1_convergence_rate_std_nrmse.pdf
/scalar_diffusion_results/model_entropy_240_20_1_mlp_ensemble.npy
/scalar_diffusion_results/random_100_10_1_mlp_ensemble.npy
/scalar_diffusion_results/random_240_20_1_mlp_ensemble.npy
/airfoils_results/model_entropy_400_50_10_mlp_ensemble.npy
/airfoils_results/ensemble_400_50_10_mlp_ensemble.npy
/airfoils_results/ensemble_cluster_400_50_10_mlp_ensemble.npy
/airfoils_results/mean_rmse_10_convergence_rate_mape.pdf
/airfoils_results/mean_rmse_10_convergence_rate_max_rmse.pdf
/airfoils_results/mean_rmse_10_convergence_rate_nmax_ae.pdf
/airfoils_results/mean_rmse_10_convergence_rate_r2.pdf
/airfoils_results/mean_rmse_10_convergence_rate_range_nrmse.pdf
/airfoils_results/mean_rmse_10_convergence_rate_rmse.pdf
/airfoils_results/mean_rmse_10_convergence_rate_std_nrmse.pdf
/airfoils_results/random_400_50_10_mlp_ensemble.npy
/friedman_results/ensemble_200_10_1_mlp_ensemble.npy
/friedman_results/ensemble_400_50_3_mlp_ensemble.npy
/friedman_results/ensemble_cluster_200_10_1_mlp_ensemble.npy
/friedman_results/ensemble_cluster_400_50_3_mlp_ensemble.npy
/friedman_results/mean_rmse_1_convergence_rate_mape.pdf
/friedman_results/mean_rmse_1_convergence_rate_max_rmse.pdf
/friedman_results/mean_rmse_1_convergence_rate_nmax_ae.pdf
/friedman_results/mean_rmse_1_convergence_rate_r2.pdf
/friedman_results/mean_rmse_1_convergence_rate_range_nrmse.pdf
/friedman_results/mean_rmse_1_convergence_rate_rmse.pdf
/friedman_results/mean_rmse_1_convergence_rate_std_nrmse.pdf
/friedman_results/mean_rmse_3_convergence_rate_mape.pdf
/friedman_results/mean_rmse_3_convergence_rate_max_rmse.pdf
/friedman_results/mean_rmse_3_convergence_rate_nmax_ae.pdf
/friedman_results/mean_rmse_3_convergence_rate_r2.pdf
/friedman_results/mean_rmse_3_convergence_rate_range_nrmse.pdf
/friedman_results/mean_rmse_3_convergence_rate_rmse.pdf
/friedman_results/mean_rmse_3_convergence_rate_std_nrmse.pdf
/friedman_results/model_entropy_400_50_3_mlp_ensemble.npy
/friedman_results/random_400_50_3_mlp_ensemble.npy
/inconel_results/ensemble_400_50_3_rf.npy
/inconel_results/ensemble_980_196_1_rf.npy
/inconel_results/ensemble_cluster_400_50_3_rf.npy
/inconel_results/mean_rmse_3_convergence_rate_mape.pdf
/inconel_results/mean_rmse_3_convergence_rate_max_rmse.pdf
/inconel_results/mean_rmse_3_convergence_rate_nmax_ae.pdf
/inconel_results/mean_rmse_3_convergence_rate_r2.pdf
/inconel_results/mean_rmse_3_convergence_rate_range_nrmse.pdf
/inconel_results/mean_rmse_3_convergence_rate_rmse.pdf
/inconel_results/mean_rmse_3_convergence_rate_std_nrmse.pdf
/inconel_results/model_entropy_400_50_3_rf.npy
/inconel_results/model_entropy_980_196_1_rf.npy
/inconel_results/random_400_50_3_rf.npy
/friedman_results/ensemble_300_50_1_mlp_ensemble.npy
/friedman_results/ensemble_cluster_300_50_1_mlp_ensemble.npy
/friedman_results/model_entropy_300_50_1_mlp_ensemble.npy
/friedman_results/random_300_50_1_mlp_ensemble.npy
/friedman_results/ensemble_300_10_1_mlp_ensemble.npy
/friedman_results/ensemble_cluster_300_10_1_mlp_ensemble.npy
/friedman_results/model_entropy_300_10_1_mlp_ensemble.npy
/friedman_results/model_entropy_300_10_3_mlp_ensemble.npy
/friedman_results/random_300_10_1_mlp_ensemble.npy
/friedman_results/ensemble_300_10_3_mlp_ensemble.npy
/airfoils_results/ensemble_150_50_1_mlp_ensemble.npy
/airfoils_results/ensemble_200_50_1_mlp_ensemble.npy
/airfoils_results/ensemble_350_50_1_mlp_ensemble.npy
/airfoils_results/model_entropy_150_50_1_mlp_ensemble.npy
/airfoils_results/model_entropy_200_50_1_mlp_ensemble.npy
/airfoils_results/model_entropy_350_50_1_mlp_ensemble.npy
/friedman_results/ensemble_350_50_1_mlp_ensemble.npy
/friedman_results/ensemble_cluster_350_50_1_mlp_ensemble.npy
/friedman_results/modelHC_entropy_350_50_1_mlp_ensemble.npy
/friedman_results/model_entropy_350_50_1_mlp_ensemble.npy
/friedman_results/model_quantile_350_50_1_mlp_ensemble.npy
/friedman_results/random_300_10_3_mlp_ensemble.npy
/friedman_results/random_350_50_1_mlp_ensemble.npy
/airfoils_results/ensemble_200_50_5_mlp_ensemble.npy
/airfoils_results/mean_rmse_5_convergence_rate_mape.pdf
/airfoils_results/mean_rmse_5_convergence_rate_max_rmse.pdf
/airfoils_results/mean_rmse_5_convergence_rate_nmax_ae.pdf
/airfoils_results/mean_rmse_5_convergence_rate_r2.pdf
/airfoils_results/mean_rmse_5_convergence_rate_range_nrmse.pdf
/airfoils_results/mean_rmse_5_convergence_rate_rmse.pdf
/airfoils_results/mean_rmse_5_convergence_rate_std_nrmse.pdf
/airfoils_results/model_entropy_200_50_5_mlp_ensemble.npy
/airfoils_results/modelHC_entropy_1000_100_1_mlp_ensemble.npy
/airfoils_results/modelHC_entropy_1000_100_1_rf.npy
/airfoils_results/model_entropy_1000_100_1_mlp_ensemble.npy
/airfoils_results/model_entropy_1000_100_1_rf.npy
/airfoils_results/model_entropy_200_10_1_rf.npy
/airfoils_results/model_mixed_200_50_5_mlp_ensemble.npy
/airfoils_results/ensemble_200_10_1_rf.npy
/airfoils_results/ensemble_450_50_3_rf.npy
/airfoils_results/mean_rmse_3_convergence_rate_mape.pdf
/airfoils_results/mean_rmse_3_convergence_rate_max_rmse.pdf
/airfoils_results/mean_rmse_3_convergence_rate_nmax_ae.pdf
/airfoils_results/mean_rmse_3_convergence_rate_r2.pdf
/airfoils_results/mean_rmse_3_convergence_rate_range_nrmse.pdf
/airfoils_results/mean_rmse_3_convergence_rate_rmse.pdf
/airfoils_results/mean_rmse_3_convergence_rate_std_nrmse.pdf
/airfoils_results/modelHC_entropy_200_10_1_rf.npy
/airfoils_results/modelHC_quantile_200_10_1_rf.npy
/airfoils_results/model_entropy_450_50_3_rf.npy
