/benchmark_files/old_data/cp.npy
/benchmark_files/old_data/cp_reynolds.npy
/benchmark_files/old_data/cp_reynolds_aoa.npy
/benchmark_files/old_data/mpt_cp_dataset.npy
/benchmark_files/old_data/mpt_cp_dataset_reynolds.npy
/benchmark_files/old_data/mpt_cp_dataset_reynolds_aoa.npy
/:00.bl
/benchmark_files/bc_problem_data/__pycache__/generate_bc.cpython-311.pyc
__pycache__
results
results
/airfoils_results/random_100_5_3_rf_entropy.npy
/airfoils_results/random_100_5_3_xg34b1.npy
/airfoils_results/random_100_5_3_xgb.npy
/airfoils_results/random_100_5_3_xgb_ensemble.npy
/airfoils_results/random_200_5_1.npy
/airfoils_results/random_200_5_30.npy
/airfoils_results/unc_100_5_3_rf_entropy.npy
/airfoils_results/unc_100_5_3_xg34b1.npy
/airfoils_results/unc_100_5_3_xgb.npy
/airfoils_results/unc_100_5_3_xgb_ensemble.npy
/airfoils_results/unc_200_5_1.npy
/airfoils_results/unc_200_5_30.npy
/airfoils_results/unc_hc_200_5_30.npy
/airfoils_results/unc_hc_100_5_3_rf_entropy.npy
/airfoils_results/unc_hc_100_5_3_xg34b1.npy
/airfoils_results/unc_hc_100_5_3_xgb.npy
/airfoils_results/unc_hc_100_5_3_xgb_ensemble.npy
/airfoils_results/unc_hc_200_5_1.npy
/airfoils_results/unc_lhs_pso_200_5_1.npy
/airfoils_results/unc_lhs_pso_200_5_30.npy
/friedman_results/random_100_5_3_DT_ensemble.npy
/friedman_results/unc_100_5_3_DT_ensemble.npy
/friedman_results/unc_100_5_3_rf_entropy.npy
/inconel_results/unc_hc_200_5_10.npy
/scalar_diffusion_results/30unc_200_5_10.npy
/scalar_diffusion_results/30unc_hc_200_5_10.npy
/scalar_diffusion_results/random_100_5_3_xgb.npy
/scalar_diffusion_results/random_200_5_10.npy
/scalar_diffusion_results/random_350_10_3_xgb_ensemble.npy
/scalar_diffusion_results/unc_100_5_3_xgb.npy
/scalar_diffusion_results/unc_200_5_10.npy
/scalar_diffusion_results/unc_350_10_3_xgb_ensemble.npy
/scalar_diffusion_results/unc_hc_100_5_3_xgb.npy
/scalar_diffusion_results/unc_hc_200_5_10.npy
/scalar_diffusion_results/unc_hc_350_10_3_xgb_ensemble.npy
/friedman_results/random_100_5_3_rf_entropy.npy
/friedman_results/random_100_5_3_xgb_ensemble.npy
/friedman_results/random_200_5_30.npy
/friedman_results/unc_100_5_3_xgb_ensemble.npy
/friedman_results/unc_200_5_30.npy
/friedman_results/unc_hc_100_5_3_xgb_ensemble.npy
/friedman_results/unc_hc_200_5_30.npy
/inconel_results/random_200_5_10.npy
/inconel_results/unc_200_5_10.npy
